{% extends "base.html" %}
{% block content %}
  <a class='menu' href='/_history{{path}}'>history</a>
  {% if username %}
  <a class='menu' href='/logout'>logout</a>
  <a class='menu' href="/_edit{{path}}">edit</a>
  <div class='menu'>{{username}}</div>
  {% else %}
  <a class='menu' href='/login'>login</a>
  <a class='menu' href='/signup'>signup</a>
  <a class='menu' href='/'>mainpage</a>
  {% endif %}
  <br>
  <br>
  <br>
  <br>
  <div class='edit_user'>Last Edited by {{q.username}}</div>
  <br>
  <div class='font'>{{q.content}}</div>
{% endblock %}